{% load static %}
<style>
    :root {
  --color-main: #5aa5b9;
  --color-main-light: #e6faff;
  --color-sub: #3f4156;
  --color-sub-light: #51546e;
  --color-sub-lighter: #ededfd;
  --color-text: #737373;
  --color-gray: #8b8b8b;
  --color-light: #e5e7eb;
  --color-light-gray: #767676;
  --color-bg: #f8fafd;
  --color-white: #fffefd;
  --color-white-light: #f3f3f3;
  --color-success: #359e64;
  --color-success-bg: #def8e8;
  --color-error: #fc4b0b;
  --color-error-bg: #fff2ee;
  --font-base: 'Poppins', arial, helvetica, 'Segoe UI', roboto, ubuntu, sans-serif;
  --font-monospace: 'Fira Code', 'Courier New', courier, monospace;
  --font-regular: 300;
  --font-medium: 500;
  --font-bold: 700;
  --generic-shadow: 1px 1px 5px #00000010;
  --generic-transition: all 0.3s ease-in-out;
}

.alert {
  position: fixed;
  left: 50%;
  top: 120px;
  transform: translate(-50%, -50%);

  z-index: 99999;
}
.alert {
  display: inline-flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border: 1px solid var(--color-white-light);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  padding:0 1rem;
  {% comment %} padding-left: .5rem; {% endcomment %}
  {% comment %} padding: 1.5rem 2.5rem; {% endcomment %}
}

.alert,
.alert > .alert__message {
  background-color: var(--color-main-light);
  color: var(--color-main);
  font-size: 1.4rem;
  font-weight: var(--font-medium);
}

.alert.alert--error,
.alert.alert--error > .alert__message {
  background-color: var(--color-error-bg);
  color: var(--color-error);
}

.alert.alert--success,
.alert.alert--success > .alert__message {
  background-color: var(--color-success-bg);
  color: var(--color-success);
}

.alert > .alert__close {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: transparent;
  font-size: 1rem;
  transition: var(--generic-transition);
  color: var(--color-error);
}

.alert > .alert__close:hover {
  opacity: 0.85;
}

</style>
 {% if messages %} 
    {% for message in messages %}
    <!-- <div class="card_c">
       
      </div> -->
    <center>
      <div class="card_c">
        <div class="alert alert--{{message.tags}}">
          <p class="alert__message">{{message}}</p>
          <button class="alert__close">x</button>
        </div>
    </div>
</center>
{% endfor %} 
{% endif %} 
<script defer src="{% static 'js/script.js' %}"></script>