<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Things To Do{% endblock title %}</title>

</head>
<body>
    



<style>    
    .history{
        background: #f9f9f9;
        padding: .5rem 1rem .5rem 1rem;
        box-shadow: 6px 6px 5px 2px rgba(0,0, 0, 0.6);
    }
</style>
{% include 'navBar.html' %}
<div class="history">
    <h1>
    <a href="https://www.fastcompany.com/3021379/the-amazing-history-of-the-to-do-list-and-how-to-make-one-that-actually-works#:~:text=Benjamin%20Franklin%2C%20the%20godfather%20of,his%20progress%20on%20a%20chart." target="_blank" rel="noopener">
        The Amazing History Of The To-Do List–And How To Make One That Actually Works 
    </a>
    </h1>
</div>
{% include 'messages.html' %}

</body>
</html>