

{% include 'navBar.html' %}
<style>
     :root {
  --color-main: #5aa5b9;
  --color-main-light: #e6faff;
  --color-sub: #3f4156;
  --color-sub-light: #51546e;
  --color-sub-lighter: #ededfd;
  --color-text: #737373;
  --color-gray: #8b8b8b;
  --color-light: #e5e7eb;
  --color-light-gray: #767676;
  --color-bg: #f8fafd;
  --color-white: #fffefd;
  --color-white-light: #f3f3f3;
  --color-success: #359e64;
  --color-success-bg: #def8e8;
  --color-error: #fc4b0b;
  --color-error-bg: #fff2ee;
  --font-base: 'Poppins', arial, helvetica, 'Segoe UI', roboto, ubuntu, sans-serif;
  --font-monospace: 'Fira Code', 'Courier New', courier, monospace;
  --font-regular: 300;
  --font-medium: 500;
  --font-bold: 700;
  --generic-shadow: 1px 1px 5px #00000010;
  --generic-transition: all 0.3s ease-in-out;
}
      .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form{
        background: #f7f7f7;
        padding: .5rem 2rem .9rem 2rem;
        box-shadow: 6px 6px 5px 2px rgba(0,0, 0, 0.6);
    }
    a{
        text-decoration: none;
        border-radius: 10rem;
        border: none;
        background: var(--color-sub-light);
        padding: .5rem 1rem .5rem 1rem;
        color: var(--color-white-light);
        {% comment %} background: #b155; {% endcomment %}
    }
    input[type='text'],
    input[type='email'],
    input[type='password'] {
    min-width: 24rem;
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-light);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-bg);
    }

    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active {
    outline: none;
    border: 2px solid var(--color-main);
    }

    label{
        font-size: 1.5rem;
    }
    .btn{
        padding: 1rem;
        border:  none;
        background-color: #b155;
        border-radius: 1rem;
        color: var(--color-main);
        font-size: 1rem;
        font-weight: bold;
        
    }
    .btn:hover{
        box-shadow: 2px 2px 5px 2px rgba(0,0, 0, 0.6);
        border: none;
        border-radius: 1rem;
    }
    .btn:active{
        box-shadow: 2px 2px 5px 2px rgba(0,0, 22, 0.6);
        background-color: #b158;
        
    }
    .input{
        width: 30rem;
        height: 1.9rem;
        border: .1rem solid #b158;
        margin: 1.2rem 0;
        font-size: 1.5rem;
        
    }
    .input:focus{
        border: .2rem solid #b158;
        outline: none;
        transition: 250ms ease-in-out;
        
        
    }
    .input:active{
        border: .1rem solid #b158;
        transition: 250ms ease-in-out;
        
    }
    .input:nth-child(){
        margin-left: 30rem;
    }
    .btn ~ a {
        margin-left: 23rem;
    }
    p{
        font-weight: bold;
        color: #029;
    }
    .auth__header{
        padding: 1rem 0 0 0;
    }
     h3{
      color: var(--color-main);
    }
    label {
      color: var(--color-light-gray);
    }
     .auth__alternative {
      margin-bottom: 1.9rem;
    }
</style>
<div class="container">
    
    
    <form
    action="{% url 'account:register' %}"
    method="POST"
    class="form auth__form"
    >
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    <div class="auth__header text-center">
      <a href="/">
        <span class="arrow">&Larr;</span>
      </a>
      <h3>Register an Account</h3>
    </div>
      
      {% for field in form %}
      <!-- Input:Text -->
      
      <div class="form__field">
          <label for="formInput#text">{{field.label}}</label><br>
         {{field}}
         

            <!-- Help display error directly from django UserCreationForm being inherited from CustomUserCreationForm (form) -->
             {% for error in field.errors %}
                 <p style="color: red;">{{error}}</p>
             {% endfor %}
                 
        </div>
        
        {% endfor %}
        <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
        </div>
        <div class="auth__alternative">
          <p>Already have an Account?</p>
          <a href="{% url 'account:login' %}">Log In</a>
        </div>
    </form>
 

</div>
